/*html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

.player{
  font-family: 'helvetica neue', helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: rgba(0,0,200,0.6);
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;

}*/

/*TodayDate CSS*/
/*
#calendar{
    width: 130px;
    height: 180px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5%;
    box-shadow: 0 4px 4px 0 rgba(50, 50, 50, 0.4);
}

#calendar>p{
    font-family: Verdana, Arial, sans-serif;
    padding: 10px 0;
    margin: 0;
    color: #fff;
    text-align: center;
}

#calendar-day{
    font-size: 16px;
}

#calendar-month-year{
    font-size: 14px;
}

#calendar-date{
    font-size: 64px;
    padding-top: 10px;
    padding-bottom: 0;
}*/

/*Simple Calendar CSS*/

body {
	width:400px;
	margin:auto;
	padding:30px;
}

.month_style {
  width: 120px;
  font-size: 18px;
  color:blue;
  background-color: azure;
  border: 1px solid blue;
  border-radius:5px;
}

.year_style {
  width: 85px;
  font-size: 18px;
  text-align: center;
  color:blue;
  background-color: azure;
  border: 1px solid blue;
  border-radius:5px;
}

.build_style {
  width: 85px;
  font-size: 18px;
  cursor: pointer;
  color:white;
  background-color: blue;
  border: 1px solid blue;
  border-radius:5px;
}

.area_style {
  width: 294px;
  margin-top: 15px;
  /*font-size: 24px;*/
  max-width: 294px;
  max-height: 224px;
  background:azure;
  color:blue;
  border:1px solid blue;
  border-radius:8px;
}
/*just remove the max-height
 and max-width to move the textarea
*/

.btn_nav {
  background-color: azure;
  width: 57px;
  color:blue;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight:bold;
  border-radius:5px;
  border:1px solid blue;
}
